@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Outfit, sans-serif;
	@apply bg-slate-700;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--radius: 0.5rem;
	}
}

.button-controller {
	font-family: 'Playwrite CU', cursive;
}
h1 {
	font-family: 'Dancing Script', cursive;
}
